:root{
    --font: 'Barlow', sans-serif;

}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background: #000000;
    font-family: var(--font);
}

.navbar{
    position: absolute;
    width: 659px;
    height: 55px;
    left: 450px;
    top: 40px;
    color: white;
}

.navbar ul li{
    list-style: none;
    cursor: pointer;
}

li.home{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 39px;
    top: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

li.collection{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 150px;
    top: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

li.about{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 320px;
    top: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

li.contact{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 450px;
    top: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.aside{
    position: absolute;
    width: 7rem;
    height: 53.85rem;
    left: -3px;
    top: -1rem;
    background: #A1A2A3;
}

.img-aside img{
    position: absolute;
    left: 27%;
    right: 93.57%;
    top: 10%;
    width: 4rem;
}

.text-aside h1{
    position: absolute;
    width: 40rem;
    height: 200px;
    left: -22rem;
    top: 430px;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 1.25em;
    transform: rotate(90deg);
}

.tittle h1{
    position: absolute;
    width: 727px;
    height: 168px;
    left: 180px;
    top: 10px;
    font-style: italic;
    font-weight: 900;
    font-size: 150px;
    line-height: 199px;
    color: #FFFFFF;
}

.class h2{
    position: absolute;
    width: 678px;
    height: 70px;
    left: 190px;
    top: 260px;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.15em;
    color: #CCC8C8;
}

.price p{
    position: absolute;
    width: 638px;
    height: 68px;
    left: 190px;
    top: 300px;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.description p{
    position: absolute;
    width: 542px;
    height: 76px;
    left: 180px;
    top: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.8;
}

.button button{
    position: absolute;
    width: 120px;
    height: 38px;
    left: 190px;
    top: 530px;
    background: #A1A2A3;
    border: none;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;
}

.image-shoe .imgs img{
    position: absolute;
    width: 500px;
    height: 450px;
    left: 680px;
    top: 150px;
    transform: rotate(-1deg);
}

.ellipse1 img{
    position: absolute;
    left: 68rem;
    top: 300px;
    width: 120px;
    height: 120px;
    transform: rotate(-1deg);
}

.ellipse2 img{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 900px;
    top:450px;
}

.ellipse3 img{
    position: absolute;
    z-index: -1;
    width: 210px;
    height: 210px;
    left: 810px;
    top: 170px;
}

.shadow img{
    position: absolute;
    width: 550px;
    height: 90px;
    left: 750px;
    top: 570px;
}